#page-loader {
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 10;
}

/*---------Customs---------*/
html,
body {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 100%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.07em;
}
body {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    color: $primary-color;
    @include font-light;
    background: #ffffff;
    min-width: 1000px;
}
.inView {
    opacity: 0;
}
.header,
.footer {
    display: table-row;
    width: 100%;
}
main {
    display: table-row;
    width: 100%;
    height: 100%;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.clear {
    clear: both;
}
.clearfix {
    @include clearfix;
}
img {
    max-width: 100%;
    height: auto;
    outline:none;
    &:focus {
        outline:none;
    }
}
a {
    color: $link-color;
    outline:none;
    text-decoration: none;
    &:hover {
        color: $link-color;
        outline:none;
        text-decoration: none;
    }
    &:focus, &:active {
        color: $link-color;
        outline:none;
        text-decoration: none;
    }
    &[disabled="disabled"], &[disabled] {
        opacity: 0.4;
        cursor: default;
        text-decoration: none;
    }
}
i {}
h1,h2,h3,h4,h5,h6 {
    color: $headline-color;
    margin: 0;
    @include font-light;
}
h1 {
    @include font-size(36,48);
}
b, strong {
    @include font-bold;
}
.fixed {
    width: 100%;
    position: fixed!important;
    top: 0;
    z-index: 9;
}
.flex-video {
    height: 0;
    /*margin-bottom: 0.88889rem;*/
    overflow: hidden;
    padding-bottom: 67.5%;
    padding-top: 1.38889rem;
    position: relative;
    iframe, object, embed, video {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.table-container {
    overflow-y: auto;
    width: 100%;
}
ul {
    list-style-type: none;
}
figure {
    margin: 0;
    font-size: 0;
    line-height: 1;
}
figcaption {
    font-size: 1.25rem;
    line-height: 1.5625;
}
time {
    display: block;
    @include font-size(14,14);
}
.copyright {
    @include font-size(12, 14);
    @include font-light;
    text-align: center;
}
.hide {
    opacity: 0;
    visibility: hidden;
    @include transition(all);
}
.not-disaplay {
    display: none;
}
/*---------Customs---------*/

/*---------Forms---------*/
.form-wrapper {
    position: relative;
    display: block;
    width: 600px;
    margin: 0px auto;
    padding: 15px 20px;
    background: $dark-color;
    border: 1px solid $border-color;
    border-radius: 0px;
    box-shadow: none;
    .link-button {
        color: #ffffff;
    }
}
.form-row {
    position: relative;
    padding: 10px 0px;
    &.is-submit {
        text-align: right;
    }
    label {
        display: block;
    }
}
.input-field {
    position: relative;
}
.checkbox-label {
    display: block;
    font-size: 0;
    line-height: 1;
    input[type="checkbox"] {
        display: none;
        &:checked + .checkbox-title {
            &:after {
                opacity: 1;
            }
        }
    }
}
.checkbox-title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 45px;
    min-height: 18px;
    @include font-size(14,24);
    @include font-normal;
    &.is-empty {
        padding: 0;
        width: 18px;
        height: 18px;
        font-size: 0;
        line-height: 1;
        &:before {
            top: 0;
        }
        &:after {
            top: 4px;
        }
    }
    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid $border-color;
    }
    &:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 2px;
        width: 14px;
        height: 10px;
        background: url('#{$image-src}/checkbox.svg');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 0;
    }
}
input, select, textarea {
    width: 100%;
    padding: 14px 10px;
    border: 1px solid $border-color;
    border-radius: 0px;
    outline: none;
    @include font-size(14,20);
    -webkit-appearance: none;
    color: $primary-color;
    &:focus {
        color: $primary-color;
    }
    &.is-danger {
        border-color: $error-color;
    }
    &[disabled], &[disabled="disabled"] {
        opacity: 0.5;
    }
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
}
select {
    padding-right: 30px;
    box-sizing: border-box;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    color: $primary-color;
    background: url('#{$image-src}/arrow.svg') 100% 50% no-repeat;
    background-size: 24px;
}
select::-ms-expand {
    display: none;
}
button {
    @include transparent-button;
    &[disabled], &[disabled="disabled"] {
        opacity: 0.5;
    }
}
textarea {
    display: block;
    resize: none;
    padding: 15px 10px;
    min-height: 90px;
}
::-webkit-input-placeholder {
    color: $grey-color;
    text-overflow: ellipsis;
    @include font-light;
}
::-moz-placeholder {
    color: $grey-color;
    text-overflow: ellipsis;
    opacity: 1;
    @include font-light;
}
::-ms-input-placeholder {
    color: $grey-color;
    text-overflow: ellipsis;
    @include font-light;
}
.button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: 0px 15px 0px 0px;
    min-width: 120px;
    padding: 17px 20px;
    @include font-size(16,16);
    text-transform: uppercase;
    @include font-light;
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #ffffff;
    background: $button-bg;
    @include link-opacity;
    &:hover, &:focus {
        color: #ffffff;
        background: $button-bg;
    }
    &.router-link-exact-active {
        background: $style-color;
        opacity: 1;
    }
    &:last-child {
        margin-right: 0px;
    }
}
.link-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: 0px 15px 0px 0px;
    @include font-size(14,14);
    @include link-opacity;
    &:last-child {
        margin-right: 0px;
    }
}
.active-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    margin: 0px 15px 0px 0px;
    min-width: 120px;
    padding: 17px 20px;
    @include font-size(16,16);
    text-transform: uppercase;
    @include font-light;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background: $style-color;
    @include link-opacity;
    &:hover, &:focus {
        color: #ffffff;
        background: $style-color;
    }
    &.router-link-exact-active {
        background: $style-color;
        opacity: 1;
    }
    &:last-child {
        margin-right: 0px;
    }
}
button.button,
button.active-button {
    padding: 0px 20px;
    height: 50px;
}
.form-response {
    position: relative;
    padding: 10px 0px;
    @include font-size(14, 16);
    text-align: center;
}
.success {
    color: $active-color;
}
.error {
    color: $error-color;
}
form {
    &.disabled {
        position: relative;
        pointer-events: none;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, .50);
            z-index: 1;
        }
    }
}
.upload-image-container {
    position: relative;
    input[type="file"] {
        position: absolute;
        width: 0px;
        height: 0px;
        max-width: 0px;
        padding: 0px;
        border: none;
        box-shadow: none;
        outline:none;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
    figure {
        width: 120px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
/*---------Forms---------*/

/*-----------Article-----------*/
.article {
    @include font-size(18,26);
    h1, h2, h3, h4, h5, h6, p {
        padding: 12px 0;
    }
    h1 {
        @include font-size(25,30);
    }
    h2 {
        @include font-size(20,25);
    }
    h3 {
        @include font-size(18,26);
    }
    h4, h5, h6 {
        @include font-size(14,20);
    }
    img  {
        margin: 20px 0;
    }
    a {
        text-decoration: none;
        color: $style-color;
        &:hover, &:focus {
            text-decoration: underline;
            color: $style-color;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        counter-reset: list;
        li {
            position: relative;
            margin: 0;
            padding: 15px 0 15px 55px;
            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                top: 20px;
                left: 0;
                width: 40px;
                height: 40px;
                background: $primary-color;
                border-radius: 50%;
                background: rgba(65,155,224,.20);
                overflow: hidden;
                font-size: 1.25rem;
                line-height: 2;
                text-align: center;
                color: $active-color;
            }
        }
    }
    table {
        margin: 30px 0 0;
        width: 100%;
        thead {
            border: 2px solid #c6c6c6;
        }
        th {
            padding: 12px 30px;
            font-size: 0.875rem;
            @include font-bold;
        }
        tbody {
            tr {
                border-bottom: 2px solid $border-color;
            }
        }
        td {
            padding: 12px 30px;
        }
    }
}
/*-----------Article-----------*/

.cxlt-toastr-container {
    .toast {
        box-shadow: none;
        border-radius: 0px;
    }
}
.toast-title {
    @include font-light;
}