$font-src: '../fonts';

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('#{$font-src}/roboto/Robotolight.woff2') format('woff2'), url('#{$font-src}/roboto/Robotolight.woff') format('woff'), url('#{$font-src}/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('#{$font-src}/roboto/Robotolightitalic.woff2') format('woff2'), url('#{$font-src}/roboto/Robotolightitalic.woff') format('woff'), url('#{$font-src}/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('#{$font-src}/roboto/Roboto.woff2') format('woff2'), url('#{$font-src}/roboto/Roboto.woff') format('woff'), url('#{$font-src}/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('#{$font-src}/roboto/Robotoitalic.woff2') format('woff2'), url('#{$font-src}/roboto/Robotoitalic.woff') format('woff'), url('#{$font-src}/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('#{$font-src}/roboto/Robotomedium.woff2') format('woff2'), url('#{$font-src}/roboto/Robotomedium.woff') format('woff'), url('#{$font-src}/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('#{$font-src}/roboto/Robotomediumitalic.woff2') format('woff2'), url('#{$font-src}/roboto/Robotomediumitalic.woff') format('woff'), url('#{$font-src}/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('#{$font-src}/roboto/Robotobold.woff2') format('woff2'), url('#{$font-src}/roboto/Robotobold.woff') format('woff'), url('#{$font-src}/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('#{$font-src}/roboto/Robotobolditalic.woff2') format('woff2'), url('#{$font-src}/roboto/Robotobolditalic.woff') format('woff'), url('#{$font-src}/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('#{$font-src}/roboto/Robotoblack.woff2') format('woff2'), url('#{$font-src}/roboto/Robotoblack.woff') format('woff'), url('#{$font-src}/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('#{$font-src}/roboto/Robotoblackitalic.woff2') format('woff2'), url('#{$font-src}/roboto/Robotoblackitalic.woff') format('woff'), url('#{$font-src}/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}