//----- Extends
@mixin clearfix() {
    &:after {
        content:'';
        display:table;
        clear:both;
    }
}
@mixin border-box() {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

//----- Grid System
$grid-spacing: 20px;

@mixin col-position($prefix-1,$prefix-2,$position-1,$position-2,$position-3) {
    @for $i from 1 to 12+1 {
        .col-#{$prefix-1}-#{$i}.#{$position-1},
        .col-#{$prefix-2}-#{$i}.#{$position-1} {
            vertical-align: $position-1;
        }
        .col-#{$prefix-1}-#{$i}.#{$position-2},
        .col-#{$prefix-2}-#{$i}.#{$position-2} {
            vertical-align: $position-2;
        }
        .col-#{$prefix-1}-#{$i}.#{$position-3},
        .col-#{$prefix-2}-#{$i}.#{$position-3} {
            vertical-align: $position-3;
        }
    }
}

@mixin col-inline($prefix) {
    .col-#{$prefix}-1,
    .col-#{$prefix}-2,
    .col-#{$prefix}-3,
    .col-#{$prefix}-4,
    .col-#{$prefix}-5,
    .col-#{$prefix}-6,
    .col-#{$prefix}-7,
    .col-#{$prefix}-8,
    .col-#{$prefix}-9,
    .col-#{$prefix}-10,
    .col-#{$prefix}-11,
    .col-#{$prefix}-12 {
        position: relative;
        display: inline-block;
        min-height: 1px;
        padding-left: $grid-spacing/2;
        padding-right: $grid-spacing/2;
        font-size: 0.875rem;
        letter-spacing: normal;
        @include border-box();
    }
    @for $i from 1 to 12+1 {
        .col-#{$prefix}-#{$i} {
            width: percentage(($i / 12));
        }
    }
}

@mixin col-cell($prefix) {
    .col-#{$prefix}-1,
    .col-#{$prefix}-2,
    .col-#{$prefix}-3,
    .col-#{$prefix}-4,
    .col-#{$prefix}-5,
    .col-#{$prefix}-6,
    .col-#{$prefix}-7,
    .col-#{$prefix}-8,
    .col-#{$prefix}-9,
    .col-#{$prefix}-10,
    .col-#{$prefix}-11,
    .col-#{$prefix}-12 {
        position: relative;
        display: table-cell;;
        padding-left: $grid-spacing/2;
        padding-right: $grid-spacing/2;
        letter-spacing: normal;
    }
    @for $i from 1 to 12+1 {
        .col-#{$prefix}-#{$i} {
            width: percentage(($i / 12));
        }
    }
}

.container {
    position: relative;
    max-width: (940+$grid-spacing);
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-spacing/2;
    padding-right: $grid-spacing/2;
    letter-spacing: normal;
    @include clearfix();
}

/*-------inline col!--------*/
.row-inline {
    position: relative;
    font-size: 0;
    margin-left: -$grid-spacing/2;
    margin-right: -$grid-spacing/2;
    letter-spacing: normal;
    @include clearfix();
}
@include col-inline(inline-xs);

/*-------table col!--------*/
.row-table {
    position: relative;
    display: table;
    width: 100%;
    letter-spacing: normal;
}
@include col-cell(cell);

/*--------position---------*/
@include col-position(inline-xs,cell,top,middle,bottom);