.cbalink {
    display: none;
}
.page {
    position: relative;
    padding: 30px 0px 30px 200px;
}
.page-sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 100%;
    background: $dark-color;
    color: #ffffff;
    @include translate(-100%, 0%);
    @include transition-function(transform, 0.3s, ease-in-out, 0s);
    z-index: 10;
    &.active {
        @include translate(0%, 0%);
    }
    li {
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255, .50);
    }
    .button {
        display: block;
        width: 100%;
        text-align: left;
    }
    .copyright {
        position: absolute;
        left: 20px;
        bottom: 20px;
        width: calc(100% - 40px);
        text-align: center;
    }
}
.page-header {
    position: relative;
}
.page-body, .catalog-body {
    margin-top: 20px;
    &:first-child {
        margin-top: 0px;
    }
}
.login-page {
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -200px;
    .page-header {
        text-align: center;
    }
}
.catalog-table {
    width: 100%;
    th {
        @include font-medium;
        text-align: left;
    }
    td, th {
        padding: 10px 5px;
        &:first-child {
            padding-left: 0px;
        }
        &:last-child {
            padding-right: 0px;
        }
    }
    tbody {
        tr {
            border-top: 1px solid $border-color;
        }
    }
}
.category-column-name {
    width: 30%;
}
.category-column-description {
    width: 35%;
}
.category-column-options {
    width: 35%;
    text-align: right;
}
.product-column-name {
    width: 20%;
}
.product-column-category {
    width: 20%;
}
.product-column-price {
    width: 10%;
}
.product-column-description {
    width: 20%;
}
.product-column-options {
    width: 30%;
    text-align: right;
}