/*-----------Variables-----------*/
$primary-color: #333333;
$link-color: #333333;
$headline-color: #333333;
$style-color: #5EB8EA;
$dark-color: #1B2330;
$button-bg: #2E394B;
$active-color: #8dc63f;
$error-color: #f9593a;
$border-color: #e6e6e6;
$grey-color: #7d7b7b;

$image-src: '../images';
/*-----------Variables-----------*/

@mixin font-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

@mixin font-normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin font-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

@mixin font-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0.14em;
}

@mixin transition($property) {
    -webkit-transition: $property .3s ease 0s;
    transition: $property .3s ease 0s;
}

@mixin transition-function($property, $duration, $timing-function, $delay) {
    -webkit-transition-property: $property;
    transition-property: $property;

    -webkit-transition-duration: $duration;
    transition-duration: $duration;

    -webkit-transition-delay: $delay;
    transition-delay: $delay;

    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}

@mixin rotate($angle) {
    -webkit-transform: rotate(#{$angle}deg);
    transform: rotate(#{$angle}deg);
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin sprite($x, $y) {
    background: url('#{$image-src}/sprite.svg');
    background-repeat: no-repeat;
    background-position: $x $y;
}

@mixin link-opacity() {
    text-decoration: none;
    @include transition(opacity);
    &:hover, &:focus {
        text-decoration: none;
    }
    &:hover {
        opacity: 0.75;
    }
}

@mixin font-size($fontSize, $lineHeight) {
    font-size: #{$fontSize/16}rem;
    line-height: $lineHeight/$fontSize;
}

@mixin transparent-button() {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    outline: none;
    @include font-size(18,26);
    @include font-light;
    text-decoration: underline;
    color: $primary-color;
    &:hover, &:focus {
        color: $grey-color;
        background: none;
        text-decoration: none;
    }
}

@mixin flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}