<template>
    <section class="profile-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-row">
                        <div class="upload-image-container">
                            <figure v-on:click.prevent="triggerFileInput()">
                                <img v-bind:src="photoUrl" width="80" height="80">
                            </figure>
                            <input id="profile-file-input" v-on:change="uploadFile" type="file">
                            <button v-on:click.prevent="triggerFileInput()" type="button" class="link-button">Изменить</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text"
                                   v-model="displayName"
                                   name="name"
                                   v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.name') }"
                                   placeholder="Имя"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="active-button">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Профайл',
                displayName: '',
                newPassword: '',
                photoUrl: 'http://via.placeholder.com/120x120',
                photoFile: ''
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function (user) {
                self.getProfile(user).then(function () {
                    $root.$options.methods.hidePageLoader();
                }, function (error) {
                    self.$toast.error({
                        message: error
                    });
                });
            });
        },

        methods: {

            getProfile: function (user) {
                let self = this;

                return new Promise(function (resolve, reject) {
                    if (user) {
                        self.user = user;
                        self.displayName = user.displayName;

                        if (user.photoURL) {
                            self.photoUrl = user.photoURL;
                        }
                        resolve();
                    } else {
                        reject('Что то пошло не так');
                    }
                });
            },

            getBase64: function (file, callback) {
                let reader = new FileReader(),
                    data = {};

                reader.readAsDataURL(file);

                reader.onload = function () {
                    data.status = 'success';
                    data.result = reader.result;
                    callback(data);
                };

                reader.onerror = function (error) {
                    data.status = 'error';
                    data.result = error;
                    callback(data);
                };
            },

            triggerFileInput: function () {
                document.getElementById('profile-file-input').click();
            },

            uploadFile: function (e) {
                let self = this,
                    maxSize = 1048576, //1 mb
                    file = e.target.files[0];

                if ( file.size > maxSize ) {
                    self.formResponse = 'максимальный размер файла 1 мб';
                    return true;
                }

                self.getBase64(file, function (response) {
                    if ( response.status == 'success' ) {
                        self.photoUrl = response.result;
                        self.photoFile = file;
                    } else if ( response.status == 'error' ) {
                        self.$toast.error({
                            message: response.result
                        });
                    }
                });
            },

            updateProfile: function () {
                let self = this,
                    photoFile = self.photoFile;

                if (photoFile) {
                    let photoExtn = photoFile.name.substr(photoFile.name.lastIndexOf('.') + 1),
                        photoName = self.user.uid,
                        photoPath = 'images/' + photoName + '.' + photoExtn,
                        storageRef = storage.ref(photoPath);

                    //upload image
                    storageRef.put(photoFile).then(function (snapshot) {
                        if ( snapshot.state == 'success' ) {
                            //update profile
                            self.user.updateProfile({
                                displayName: self.displayName,
                                photoURL: snapshot.downloadURL
                            }).then(function() {
                                self.$toast.success({
                                    message: 'Профайл успешно обновлен'
                                });
                            }, function(error) {
                                self.$toast.error({
                                    message: error.message
                                });
                            });
                        }
                    });
                } else {
                    //update profile
                    self.user.updateProfile({
                        displayName: self.displayName,
                    }).then(function() {
                        self.$toast.success({
                            message: 'Профайл успешно обновлен'
                        });
                    }, function(error) {
                        self.$toast.error({
                            message: error.message
                        });
                    });
                }
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.updateProfile();
                    }
                });
            }

        }

    };
</script>