<template>
    <section class="category-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text"
                                   v-model="category.name"
                                   name="name"
                                   v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.name') }"
                                   placeholder="имя"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <textarea v-model="category.description" placeholder="описание"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="active-button">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Добавить категорию',
                category: {
                    name: '',
                    description: ''
                }
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                $root.$options.methods.hidePageLoader();
            });
        },

        methods: {

            addCategory: function () {
                let self = this;

                self.$store.dispatch('ADD_CATEGORY', self.category).then(function (response) {
                    self.$toast.success({
                        message: response.success
                    });
                    setTimeout(function () {
                        self.$router.push( {name: 'categories'} );
                    }, 2000);
                }, function (response) {
                    self.$toast.error({
                        message: response.error
                    });
                });
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.addCategory();
                    }
                });
            }

        }

    };
</script>
