<template>
    <section class="category-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text"
                                   v-model="category.name"
                                   name="name"
                                   v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.name') }"
                                   placeholder="имя"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <textarea v-model="category.description" placeholder="описание" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="active-button">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Редактировать категорию',
                pageId: '',
                categoryRef: '',
                category: {
                    name: '',
                    description: ''
                }
            }
        },

        mounted: function () {
            let self = this,
                pageId = self.$route.params.id,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                if ( pageId !== undefined ) {
                    self.pageId = pageId;
                    self.getCategory().then(function () {
                        $root.$options.methods.hidePageLoader();
                    });
                }
            });
        },

        methods: {

            getCategory: function () {
                let self = this;

                return new Promise(function (resolve) {
                    self.$store.dispatch('GET_CATEGORY_BY_ID', self.pageId).then(function (response) {
                        self.category = response.category;
                        self.categoryRef = response.categoryRef;
                        resolve();
                    }, function (response) {
                        self.$toast.error({
                            message: response.error
                        });
                    });
                });
            },

            setCategory: function () {
                let self = this;

                self.$store.dispatch('SET_CATEGORY', [self.category, self.categoryRef]).then(function (response) {
                    self.$toast.success({
                        message: response.success
                    });
                }, function (response) {
                    let msg = response.error;

                    if ( !response.error ) {
                        msg = 'Что то пошло не так';
                    }

                    self.$toast.error({
                        message: msg
                    });
                });
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.setCategory();
                    }
                });
            }

        }

    };
</script>
