<template>
    <section class="category-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="catalog">
                <div class="catalog-header">
                    <div class="container">
                        <div class="row-inline">
                            <div class="col-inline-xs-8 middle">
                                <input type="text" v-model="searchQuery" autofocus placeholder="Поиск по имени">
                            </div>
                            <div class="col-inline-xs-4 middle text-right">
                                <router-link :to="{name: 'add-category'}" class="button">Добавить категорию</router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-body">
                    <div class="container">
                        <table v-if="filteredCategories.length" class="catalog-table">
                            <thead>
                                <th class="category-column-name">Имя</th>
                                <th class="category-column-description">Описание</th>
                                <th class="category-column-options"></th>
                            </thead>
                            <tbody>
                                <tr v-for="item in filteredCategories">
                                    <td class="category-column-name">{{item.name}}</td>
                                    <td class="category-column-description">{{item.description}}</td>
                                    <td class="category-column-options">
                                        <router-link :to="{name: 'edit-category', params: {id: item.id}}" class="link-button">Редактировать</router-link>
                                        <button :data-id="item.id" v-on:click="removeCategory" type="button" class="link-button">Удалить</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-else>Нет категорий</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Категории',
                searchQuery: ''
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                self.$store.dispatch('LOAD_CATEGORIES').then(function () {
                    $root.$options.methods.hidePageLoader();
                });
            });
        },

        computed: {

            filteredCategories: function () {
                let self = this,
                    categories = self.$store.getters.categories,
                    result;

                result = _.orderBy(categories, 'name');

                result = result.filter(function (category) {
                    return category.name.indexOf(self.searchQuery) !== -1;
                });

                return result;
            }

        },

        methods: {

            removeCategory: function (event) {
                let self = this,
                    id = event.target.getAttribute('data-id'),
                    result = confirm('Дествительно удалить категорию ?');

                if (result && id !== undefined) {
                    self.$store.dispatch('REMOVE_CATEGORY', id).then(function (response) {
                        self.$toast.success({
                            message: response.success
                        });
                    }, function (response) {
                        self.$toast.error({
                            message: response.error
                        });
                    });
                }
            }

        }

    };
</script>
