<template>
    <section class="product-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form v-if="Object.keys(categories).length" @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-row">
                        <div class="input-field">
                            <select v-on:change="changeCategory"
                                    v-model="product.categoryId"
                                    name="categoryId"
                                    v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.categoryId') }"
                                    autocomplete="off"
                            >
                                <option value="">Выберите категорию</option>
                                <option v-for="item in categories" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text"
                                   v-model="product.name"
                                   name="name"
                                   v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.name') }"
                                   placeholder="имя"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text" v-model="product.price" placeholder="цена" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <textarea v-model="product.description" placeholder="описание" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="active-button">Добавить</button>
                    </div>
                </form>
                <div v-else>Создайте категорию</div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Добавить продукт',
                product: {
                    categoryId: '',
                    categoryName: '',
                    name: '',
                    price: '',
                    description: ''
                }
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                self.loadCategories().then(function () {
                    $root.$options.methods.hidePageLoader();
                });
            });
        },

        computed: {

            categories: function () {
                let self = this,
                    result = self.$store.getters.categories;

                return result;
            }

        },

        methods: {

            loadCategories: function () {
                let self = this;

                return new Promise(function (resolve) {
                    self.$store.dispatch('LOAD_CATEGORIES').then(function () {
                        resolve();
                    });
                });
            },

            changeCategory: function (event) {
                this.product.categoryName = event.target.options[event.target.selectedIndex].text;
            },

            addProduct: function () {
                let self = this;

                self.$store.dispatch('ADD_PRODUCT', self.product).then(function (response) {
                    self.$toast.success({
                        message: response.success
                    });
                    setTimeout(function () {
                        self.$router.push( {name: 'products'} );
                    }, 2000);
                }, function (response) {
                    self.$toast.error({
                        message: response.error
                    });
                });
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.addProduct();
                    }
                });
            }

        }

    };
</script>
