<template>
    <section class="product-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form v-if="Object.keys(categories).length" @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-row">
                        <div class="input-field">
                            <select v-on:change="changeCategory"
                                    v-model="product.categoryId"
                                    name="categoryId"
                                    v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.categoryId') }"
                                    autocomplete="off">
                                <option value="">Выберите категорию</option>
                                <option v-for="item in categories" :value="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text"
                                   v-model="product.name"
                                   name="name"
                                   v-validate="'required'" :class="{ 'input': true, 'is-danger': errors.has('form.name') }"
                                   placeholder="имя"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <input type="text" v-model="product.price" placeholder="цена" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field">
                            <textarea v-model="product.description" placeholder="описание" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="active-button">Сохранить</button>
                    </div>
                </form>
                <div v-else>Создайте категорию</div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Редактировать продукт',
                pageId: '',
                productRef: '',
                product: {
                    categoryId: '',
                    categoryName: '',
                    name: '',
                    price: '',
                    description: ''
                }
            }
        },

        mounted: function () {
            let self = this,
                pageId = self.$route.params.id,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                if ( pageId !== undefined ) {
                    self.pageId = pageId;

                    Promise.all([
                        self.loadCategories(),
                        self.getProduct()
                    ]).then(function () {
                        $root.$options.methods.hidePageLoader();
                    });
                }
            });
        },

        computed: {

            categories: function () {
                let self = this,
                    result = self.$store.getters.categories;

                return result;
            }

        },

        methods: {

            loadCategories: function () {
                let self = this;

                return new Promise(function (resolve) {
                    self.$store.dispatch('LOAD_CATEGORIES').then(function () {
                        resolve();
                    });
                });
            },

            getProduct: function () {
                let self = this;

                return new Promise(function (resolve) {
                    self.$store.dispatch('GET_PRODUCT_BY_ID', self.pageId).then(function (response) {
                        self.product = response.product;
                        self.productRef = response.productRef;
                        resolve();
                    }, function (response) {
                        self.$toast.error({
                            message: response.error
                        });
                    });
                });
            },

            changeCategory: function (event) {
                this.product.categoryName = event.target.options[event.target.selectedIndex].text;
            },

            setProduct: function () {
                let self = this;

                self.$store.dispatch('SET_PRODUCT', [self.product, self.productRef]).then(function (response) {
                    self.$toast.success({
                        message: response.success
                    });
                }, function (response) {
                    let msg = response.error;

                    if ( !response.error ) {
                        msg = 'Что то пошло не так';
                    }

                    self.$toast.error({
                        message: msg
                    });
                });
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.setProduct();
                    }
                });
            }

        }

    };
</script>
