<template>
    <section class="product-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div v-if="Object.keys(categories).length" class="catalog">
                <div class="catalog-header">
                    <div class="container">
                        <div class="row-inline">
                            <div class="col-inline-xs-5 middle">
                                <input type="text" v-model="searchQuery" autofocus placeholder="Поиск по названию" autocomplete="off">
                            </div>
                            <div class="col-inline-xs-4 middle">
                                <select v-model="categoryQuery" autocomplete="off">
                                    <option value="">Все категории</option>
                                    <option v-for="item in categories" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-inline-xs-3 middle text-right">
                                <router-link :to="{name: 'add-product'}" class="button">Добавить продукт</router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-body">
                    <div class="container">
                        <table v-if="filteredProducts.length" class="catalog-table">
                            <thead>
                                <th class="product-column-name">Имя</th>
                                <th class="product-column-category">Категория</th>
                                <th class="product-column-price">Цена</th>
                                <th class="product-column-description">Описание</th>
                                <th class="product-column-options"></th>
                            </thead>
                            <tbody>
                                <tr v-for="item in filteredProducts">
                                    <td class="product-column-name">{{item.name}}</td>
                                    <td class="product-column-category">{{item.categoryName}}</td>
                                    <td class="product-column-price">{{item.price}}</td>
                                    <td class="product-column-description">{{item.description}}</td>
                                    <td class="product-column-options">
                                        <router-link :to="{name: 'edit-product', params: {id: item.id}}" class="link-button">Редактировать</router-link>
                                        <button :data-id="item.id" v-on:click="removeProduct" type="button" class="link-button">Удалить</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div v-else>Нет продуктов</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: ' Продукты',
                searchQuery: '',
                categoryQuery: ''
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                Promise.all([
                    self.loadCategories(),
                    self.loadProducts()
                ]).then(function () {
                    $root.$options.methods.hidePageLoader();
                });
            });
        },

        computed: {

            categories: function () {
                let self = this,
                    result = self.$store.getters.categories;

                return result;
            },

            filteredProducts: function () {
                let self = this,
                    products = self.$store.getters.products,
                    result;

                result = _.orderBy(products, 'name');

                result = result.filter(function (product) {
                    return product.name.indexOf(self.searchQuery) !== -1 && product.categoryId.indexOf(self.categoryQuery) !== -1;
                });

                return result;
            }

        },

        methods: {

            loadCategories: function () {
                let self = this;

                return new Promise(function (resolve) {
                    self.$store.dispatch('LOAD_CATEGORIES').then(function () {
                        resolve();
                    });
                });
            },

            loadProducts: function () {
                let self = this;

                self.$store.dispatch('LOAD_PRODUCTS');
            },

            removeProduct: function (event) {
                let self = this,
                    id = event.target.getAttribute('data-id'),
                    result = confirm('Дествительно удалить продукт ?');

                if (result && id !== undefined) {
                    self.$store.dispatch('REMOVE_PRODUCT', id).then(function (response) {
                        self.$toast.success({
                            message: response.success
                        });
                    }, function (response) {
                        self.$toast.error({
                            message: response.error
                        });
                    });
                }
            }

        }

    };
</script>
