<template>
    <section id="page-sidebar" class="page-sidebar">
        <nav>
            <ul>
                <li>
                    <router-link :to="{name: 'home'}" class="button">Главная</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'categories'}" class="button">Категории</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'products'}" class="button">Продукты</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'profile'}" class="button">Профиль</router-link>
                </li>
                <li>
                    <button v-on:click.prevent="logout" type="button" class="button">Выход</button>
                </li>
            </ul>
        </nav>
        <footer>
            <div class="copyright">
                &copy; {{copyright}}
            </div>
        </footer>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                copyright: 'alexkor 2017'
            }
        },

        methods: {

            logout: function () {
                this.$root.logout();
            }

        }

    };
</script>