<template>
    <section class="home-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}} {{user.displayName}}</h1>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Привет',
                user: {
                    displayName: ''
                }
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function (user) {
                self.user = user;
                $root.$options.methods.hidePageLoader();
            });
        }

    };
</script>