<template>
    <div id="app">
        <div id="page-loading">
            <div class="page-loading-center">
                <div class="page-loading-center-absolute">
                    <div class="page-loading-object is-four"></div>
                    <div class="page-loading-object is-three"></div>
                    <div class="page-loading-object is-two"></div>
                    <div class="page-loading-object is-one"></div>
                </div>
            </div>
        </div>
        <navbar></navbar>
        <div class="page">
            <div class="container">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>

<script>
    import navbar from './components/partials/navbar';

    export default {

        name: 'app',

        data: function() {
            return {}
        },

        components: {

            navbar: navbar

        }

    };
</script>

<style>
    @-webkit-keyframes animate {
        50% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    @keyframes animate {
        50% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
    #page-loading {
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 9999;
    }
    .page-loading-center {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .page-loading-center-absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        margin-top: -100px;
        margin-left: -100px;
    }
    .page-loading-object {
        position: absolute;
        border-radius: 50% 50% 50% 50%;
        border-left: 5px solid #1B2330;
        border-right: 5px solid #1B2330;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        -webkit-animation: animate 2s infinite;
        animation: animate 2s infinite;
    }
    .page-loading-object.is-one {
        top: 75px;
        left: 75px;
        width: 50px;
        height: 50px;
    }
    .page-loading-object.is-two {
        top: 65px;
        left: 65px;
        width: 70px;
        height: 70px;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .page-loading-object.is-three {
        top: 55px;
        left: 55px;
        width: 90px;
        height: 90px;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .page-loading-object.is-four {
        top: 45px;
        left: 45px;
        width: 110px;
        height: 110px;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
</style>

