<template>
    <section class="login-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <button v-on:click.prevent="send" type="button" class="active-button">Выслать письмо на почту</button>
                <router-link :to="{name: 'home'}" class="button">На главную</router-link>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Активиция аккаунта',
                user: null
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function (user) {
                self.user = user;
                document.getElementById('page-sidebar').classList.remove('active');
                $root.$options.methods.hidePageLoader();
            });
        },

        methods: {

            send : function () {
                let self = this,
                    $root = self.$root;

                self.user.sendEmailVerification().then(function () {
                    self.$toast.success({
                        message: 'Вам на почту было выслано письмо с сылкой для активации аккаунта'
                    });
                    setTimeout(function () {
                        $root.logout().catch(function (error) {
                            self.$toast.error({
                                message: error.message
                            });
                        });
                    });
                }, function (error) {
                    self.$toast.error({
                        message: error.message
                    });
                });
            }

        }

    };
</script>
