<template>
    <section class="login-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form v-bind:class="[loginForm ? '' : 'not-disaplay']" @submit.prevent="validateLoginForm('login-form')" data-vv-scope="login-form">
                    <div class="form-wrapper">
                        <div class="form-row">
                            <div class="input-field">
                                <input type="email"
                                        v-model="email"
                                        name="email"
                                        v-validate="'required|email'" :class="{ 'input': true, 'is-danger': errors.has('login-form.email') }"
                                        placeholder="Email"
                                        autocomplete="off"
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-field">
                                <input type="password"
                                       name="password"
                                       v-model="password" v-validate="'required|min:6'" :class="{ 'input': true, 'is-danger': errors.has('login-form.password') }"
                                       placeholder="Пароль"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row is-submit">
                            <button type="submit" class="active-button">Вход</button>
                            <router-link :to="{name: 'registration'}" class="button">Регистрация</router-link>
                            <button v-on:click.prevent="showPasswordForm" type="button" class="link-button">Забыл пароль</button>
                        </div>
                    </div>
                </form>
                <form v-bind:class="[passwordForm ? '' : 'not-disaplay']" @submit.prevent="validatePasswordForm('password-form')" data-vv-scope="password-form">
                    <div class="form-wrapper">
                        <div class="form-row">
                            <div class="input-field">
                                <input type="email"
                                       v-model="resetEmail"
                                       name="email"
                                       v-validate="'required|email'" :class="{ 'input': true, 'is-danger': errors.has('password-form.email') }"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row is-submit">
                            <button type="submit" class="active-button">Востоновить пароль</button>
                            <button v-on:click.prevent="showLoginForm" type="button" class="link-button">Вспомнил пароль</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: '',
                email: '',
                resetEmail: '',
                password: '',
                loginForm: true,
                passwordForm: false
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                self.showLoginForm();
                $root.$options.methods.hidePageLoader();
            });
        },

        methods: {

            showLoginForm: function () {
                let self = this;

                self.message = 'Вход';
                self.passwordForm = false;
                self.loginForm = true;
            },

            showPasswordForm: function () {
                let self = this;

                self.message = 'Востоновить пароль';
                self.loginForm = false;
                self.passwordForm = true;
            },

            login: function () {
                let self = this,
                    $root = self.$root,
                    email = self.email,
                    password = self.password;

                $root.login(email, password).catch(function (error) {
                    self.$toast.error({
                        message: error.message
                    });
                });
            },

            sendPassword: function () {
                let self = this,
                    resetEmail = self.resetEmail;

                if (resetEmail) {
                    auth.sendPasswordResetEmail(resetEmail).then(function() {
                        self.$toast.success({
                            message: 'Вам на почту был выслан новый пароль'
                        });
                    }, function(error) {
                        self.$toast.error({
                            message: error.message
                        });
                    });
                }
            },

            validateLoginForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.login();
                    }
                });
            },

            validatePasswordForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.sendPassword();
                    }
                });
            }

        }

    };
</script>
