<template>
    <section class="login-page">
        <div class="page-header">
            <div class="container">
                <h1>{{message}}</h1>
            </div>
        </div>
        <div class="page-body">
            <div class="container">
                <form @submit.prevent="validateForm('form')" data-vv-scope="form">
                    <div class="form-wrapper">
                        <div class="form-row">
                            <div class="input-field">
                                <input type="email"
                                       v-model="email"
                                       name="email"
                                       v-validate="'required|email'" :class="{ 'input': true, 'is-danger': errors.has('form.email') }"
                                       placeholder="Email"
                                       autocomplete="off"
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="input-field">
                                <input type="password"
                                       name="password"
                                       v-model="password" v-validate="'required|min:6'" :class="{ 'input': true, 'is-danger': errors.has('form.password') }"
                                       placeholder="Пароль"
                                       autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row is-submit">
                            <button type="submit" class="active-button">Регистрация</button>
                            <router-link :to="{name: 'login'}" class="button">Вход</router-link>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

        data: function() {
            return {
                message: 'Регистрация',
                email: '',
                password: ''
            }
        },

        mounted: function () {
            let self = this,
                $root = self.$root;

            $root.$options.methods.showPageLoader();

            $root.$options.methods.detectUser.call($root).then(function () {
                $root.$options.methods.hidePageLoader();
            });
        },

        methods: {

            registration : function () {
                let self = this,
                    $root = self.$root,
                    email = self.email,
                    password = self.password;

                $root.registration(email, password).catch(function (error) {
                    self.$toast.error({
                        message: error.message
                    });
                });
            },

            validateForm(scope) {
                let self = this;

                self.$validator.validateAll(scope).then(function (response) {
                    if ( response ) {
                        self.registration();
                    }
                });
            }

        }

    };
</script>
